@charset "utf-8";

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		 url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Black';
	src: url('../fonts/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Black.woff') format('woff'),
		 url('../fonts/ProximaNova-Black.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Black.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	font-size: 14px;
	text-align: center;
	font-family: 'ProximaNova-Regular', Sans-Serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #282828;
	line-height: 18px;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	-webkit-appearance: none;
	box-shadow: 0 1px 0px 0px #F00;
    border-bottom: 2px solid #F00;
}
input, textarea{
	font-family: 'ProximaNova-Regular';
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #282828;
	font-size: 16px;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
b{
	font-family: 'ProximaNova-Bold';
}
strong{
	font-family: 'ProximaNova-Semibold';
}
h1{

}
h2{
	font-family: 'ProximaNova-Bold';
	font-size: 40px;
	line-height: 48px;
}
h3{
	font-family: 'ProximaNova-Bold';
	font-size: 32px;
	line-height: 40px;
}
h4{
	font-family: 'ProximaNova-Regular';
	font-size: 24px;
	line-height: 32px;
}
h5{
	font-family: 'ProximaNova-Regular';
	font-size: 20px;
	line-height: 26px;
}
h6{
	font-family: 'ProximaNova-Semibold';
	font-size: 18px;
	line-height: 26px;
}
p{
	font-family: 'ProximaNova-Regular';
	font-size: 16px;
	line-height: 20px;
}

input::-webkit-input-placeholder {
	color: #828282;
}
input:-moz-placeholder {
	color: #828282;
}
.b-calc input:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-calc input:focus::-moz-placeholder {
	color: transparent;
}
textarea::-webkit-input-placeholder {
	color: #828282;
}
textarea:-moz-placeholder {
	color: #828282;
}
.hide{
	display: none;
}
.mobile-menu{
	display: none;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	border-bottom: 1px solid;
}
	.underline:hover{
		border-bottom: unset;
	}
.dashed{
	border-bottom: 1px dashed;
}
	.dashed:hover{
		border-bottom: unset;
	}
.white{
	color: #FFFFFF;
}
.black{
	color: #282828;
}
.pink{
	color: #FF345F;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1140px;
	margin: 0px auto;
}
.b-btn{
	display: inline-block;
	background-color: #FF345F;
	color: #fff;
	padding: 15px 36px 17px 37px;
	border: 1px solid #FF345F;
	border-radius: 26px;
}
.b-btn:hover{
	background-color: #cf2c4e;
	border: 1px solid #cf2c4e;
}
.b-btn.b-btn-white{
	background-color: transparent;
	color: #FF345F;
	border: 2px solid #FF345F;
	font-family: 'ProximaNova-Semibold';
}
.b-btn.b-btn-white:hover{
	background-color: #FF345F;
	border: 2px solid #FF345F;
	color: #fff;
}
.b-btn.b-btn-full-white{
	background-color: #fff;
	border:1px solid #fff;
	color: transparent;
}
.uppercase{
	text-transform: uppercase;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-rub{
	position: relative;
}
.icon-rub:before{
	position: absolute;
	content: "\e904";
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-clock{
	position: relative;
	padding-left: 26px;
}
.icon-clock:before{
	position: absolute;
	content: '\e90c';
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-discount{
	position: relative;
	padding-left: 52px;
}
.icon-discount:before{
	position: absolute;
	content: '\e90b';
	color: #FF345F;
	font-size: 38px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-discount-full:before{
	position: absolute;
	content: '\e906';
	color: #FF345F;
	font-size: 57px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-cart:before{
	position: absolute;
	content: '\e90a';
	color: #282828;
	font-size: 38px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-load:before{
	position: absolute;
	content: '\e903';
	color: #FF345F;
	font-size: 18px;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-arrow:before{
	position: absolute;
	content: '\e900';
	color: #282828;
	font-size: 18px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-list:before{
	position: absolute;
	content: '\e908';
	color: #282828;
	font-size: 13px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-search:before{
	position: absolute;
	content: '\e909';
	color: #DFADB8;
	z-index: 1;
	font-size: 17px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-like:before{
	position: absolute;
	content: '\e901';
	color: #FFF;
	z-index: 1;
	font-size: 17px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-like.active:before, .icon-like:hover:before{
	position: absolute;
	content: '\e905';
	color: #FFF;
	z-index: 1;
	font-size: 17px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-vk:before{
	position: absolute;
	content: '\e90f';
	color: #282828;
	z-index: 1;
	font-size: 18px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.icon-facebook:before{
	position: absolute;
	content: '\e90e';
	color: #282828;
	z-index: 1;
	font-size: 18px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.icon-instagram:before{
	position: absolute;
	content: '\e90d';
	color: #282828;
	z-index: 1;
	font-size: 15px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.wave-before, .wave-after{
	position: relative;
}
.wave-before:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 500px;
	top: 0;
	left: 0;
	background-image: url('../i/wave.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
.wave-after:after{
	position: absolute;
	z-index: -1;
	content: '';
	width: 100%;
	height: 500px;
	bottom: 120px;
	left: 0;
	background-image: url('../i/wave-rotated.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
.wave{
	position: relative;
}
.wave:before{
	position: absolute;
	z-index: -1;
	content: '';
	width: 100%;
	height: 240px;
	background-position: 50% 40px;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
}
.wave-left-to-right-top:before{
    background-position: 50% -20px;
	background-image: url('../i/wave-left-to-right-top.svg');
}
.wave-right-to-left-top:before{
	background-image: url('../i/wave-right-to-left-top.svg');
}
.wave-right-to-left-bottom:before{
	background-image: url('../i/wave-right-to-left-bottom.svg');
}
.wave-left-to-right-bottom:before{
	background-image: url('../i/wave-left-to-right-bottom.svg');
}

.b-top-content{
	background-color: #FAFAFA;
	padding: 11px 0;
	border-bottom: 1px solid #EEEEEE;
}
	.b-top-content-block{
		display: inline-block;
	}
	.b-top-content-block a, .b-top-content-block p{
		color: #777777;
	}
		.b-top-city{
			float: left;
		}
			.b-top-city a, .b-top-city p{
				display: inline-block;
			}
			.b-top-city p{
				padding-left: 35px;
				position: relative;
			}
				.b-top-city p:before{
					position: absolute;
					content: '';
					border: 3px solid;
					border-radius: 100%;
					top: 50%;
					left: 13px;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
		.b-top-schedule{
			margin-left: 84px;
		}
			.b-top-schedule p{
				font-size: 14px;
			}
		.b-top-auth{
			float: right;
		}
			.b-top-auth .icon-rub{
				padding-left: 35px;
				margin-right: 80px;
			}
				.b-top-auth .icon-rub:before{
					left: 0;
					font-size: 12px;
					border: 2px solid;
					padding: 3px 4px;
					border-radius: 100%;
				}
.b-header{
	padding-bottom: 97px;
}
.b-header:before{
	bottom: 0;
}
	.b-header-block{
		margin-top: 14px;
	}
		.b-logo{
			display: inline-block;
			background-image: url('../i/logo.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 140px;
			height: 70px;
			vertical-align: middle;
		}
		.b-menu{
			display: inline-block;
			padding-left: 19px;
			width: calc(100% - 305px);
			vertical-align: middle;
		}
			.b-menu li{
				display: inline-block;
				margin: 0 30px;
				font-size: 16px;
				font-family: 'ProximaNova-Semibold';
			}
			.b-menu li:hover a{
				color: #FF345F;
			}
		.b-phone{
			display: inline-block;
			vertical-align: middle;
		}
			.phone{
				display: block;	
				font-size: 18px;
				font-family: 'ProximaNova-Semibold';
			}
			.b-phone .pink{
				text-align: right;
				float: right;
				margin-top: 6px;
			}
			.b-phone .pink:hover{
			    border-bottom: 1px solid #fff;
			}
	.pink-header-block{
		background: #FFDFE6;
		background: linear-gradient(-5deg, #FFF1F4, #FFDFE6);
		border-radius: 6px;
		padding: 8px 0px;
		text-align: left;
		margin-bottom: 30px;
	}
		.b-catalog-menu{
			display: inline-block;
			font-size: 18px;
			font-family: 'ProximaNova-Semibold';
			vertical-align: middle;
			padding-right: 29px;
			padding-left: 34px;
			position: relative;
			margin-left: 32px;
		}
			.b-catalog-menu:before{
				position: absolute;
			    left: 0;
			}
			.b-catalog-menu:after{
				position: absolute;
			    content: '';
			    background-image: url(../i/icon-tick-black.svg);
			    background-size: cover;
			    background-repeat: no-repeat;
			    width: 11px;
			    height: 7px;
			    right: 0;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			    -o-transform: translateY(-50%);
			    transform: translateY(-50%);
			}
		.b-search-input{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			width: 100%;
			max-width: 510px;
			margin-left: 37px;
			margin-right: 28px;
		}
			.b-search-input input{
				width: 100%;
				border-radius: 25px;
				padding: 15px 28px;
				font-family: 'ProximaNova-Regular';
				font-size: 16px;
				position: relative;
			    -webkit-appearance: none;
			    border: unset;
			}
			.b-search-input input::-webkit-input-placeholder {
				font-family: 'ProximaNova-Regular';
				color: #DFADB8;
			}
			.b-search-input input:-moz-placeholder {
				font-family: 'ProximaNova-Regular';
				color: #DFADB8;
			}
			.b-search-input:before{
				right: 20px;
			}
		.b-cart{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-left: 33px;
		}
			.b-cart-img{
				position: relative;
			    background-color: #fff;
			    width: 50px;
			    height: 50px;
			    border-radius: 100%;
			    display: inline-block;
			    vertical-align: middle
			}
				.b-cart-img:before{
					font-size: 18px;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			.b-cart-text{
				margin-left: 12px;
				display: inline-block;
				vertical-align: middle;
			}
				.cart-count{
					font-size: 14px;
					text-align: left;
				}
				.cart-sum{
					font-size: 18px;
					font-family: 'ProximaNova-Semibold';
					position: relative;
					padding-right: 15px;
				}
				.cart-sum:before{
					right: 0;
					font-size: 13px;
				}
		ul.b-header-categories{
			margin-top: 20px;
			display: block;
			text-align: left;
		}
			ul.b-header-categories>li{
				display: inline-block;
				position: relative;
			}
				ul.b-header-categories>li a{
					font-family: 'ProximaNova-Regular';
					font-size: 16px;
				}
				ul.b-header-categories>li:hover a{
					color: #FF345F;
				}
				ul.b-header-categories.b-header-categories-top>li:not(:first-child){
					padding-left: 36px;
				}
					ul.b-header-categories.b-header-categories-top>li:not(:first-child):before{
						left: 13px;
					}
				ul.b-header-categories.b-header-categories-bottom>li:not(:first-child){
					padding-left: 47px;
				}
					ul.b-header-categories.b-header-categories-bottom>li:not(:first-child):before{
						left: 18px;
					}
				ul.b-header-categories>li:not(:first-child):before{
					position: absolute;
					content: '';
					border: 2.5px solid #CFD3E0;
					border-radius: 100%;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
.b-banners{
	/*background-image: url('../i/wave.svg');
	background-size: cover;
	background-position: 50% -380px;
	background-repeat: no-repeat;*/
	/*padding-top: 100px;*/
}
	.b-banner{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		border-radius: 6px;
		height: 420px;
		position: relative;
	}
	.b-banner-1{
		background-image: url('../i/banner-back-1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		max-width: 700px;
		text-align: left;
		padding: 48px 50px 55px;
	}
		.b-banner-1 h4{
			font-size: 22px;
			line-height: 30px;
			letter-spacing: 1.1px;
		}
	.b-banner-2{
		background-image: url('../i/banner-back-2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		max-width: 416px;
		margin-left: 20px;
		padding: 44px 29px 55px 31px;
	}
		.b-banner-1 img{
			max-width: 283px;
			margin-top: 8px;
			margin-bottom: 13px;
		}
		.b-banner-columns{
			padding-left: 3px;
			margin-top: 19px;
			margin-bottom: 28px;
		}
			.b-banner-column{
				max-width: 165px;
				display: inline-block;
				vertical-align: top;
			}
				.b-banner-column h6{

				}
	.b-banner-2 h6{
		line-height: 22px;
		font-family: 'ProximaNova-Regular';
	}
	.b-banner-2 .b-btn{
		position: absolute;
		bottom: 55px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
.b-catalog-preview{
	padding-top: 76px;
}	
	.b-big-tabs{
		text-align: left;
		padding-bottom: 42px;
	}
		.b-catalog-preview .b-big-tabs h2{
			cursor: pointer;
		}
		.b-big-tabs h2{
			display: inline-block;
		    line-height: 40px;
		}
		.b-big-tabs h2.deactive{
			color: #D5D9E4;
			border-bottom: 3px solid #D5D9E4;
		}
			.b-big-tabs h2.deactive:hover{
				border-bottom: 3px solid #fff;
			}
		.b-big-tabs h2:not(:first-child){
			margin-left: 33px;
		}
		.b-big-tabs a{
			float: right;
			color: #CFD3E0;
			border-bottom: 2px solid #CFD3E0;
			margin-top: 10px;
			position: relative;
			margin-right: 52px;
			font-size: 20px;
		}
			.b-big-tabs a:before{
				font-size: 15px;
				color: #CFD3E0;
				right: -24px;
				-webkit-transform: rotate(180deg) translateY(50%);
				-ms-transform: rotate(180deg) translateY(50%);
				-o-transform: rotate(180deg) translateY(50%);
				transform: rotate(180deg) translateY(50%);
			}
			.b-catalog-list{
				margin-top: 27px;
				margin-bottom: 17px;
				text-align: left;
			}
				.b-catalog-item{
					width: calc(100%/4 - 18px);
					display: inline-block;
					text-align: left;
				    border-radius: 6px;
				    vertical-align: top;
				    margin-right: 20px;
				    position: relative;
				    margin-bottom: 48px;
				    z-index: 0;
				}
					.b-catalog-item:nth-child(4n){
						margin-right: 0px;
					}
					.b-catalog-back{
						position: absolute;
						width: calc(100% + 40px);
						height: calc(100% + 78px);
						-webkit-transition: box-shadow .4s;
						-o-transition: box-shadow .4s;
						transition: box-shadow .4s;
						left: 50%;
						top: -24px;
						-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						transform: translateX(-50%);
						z-index: -1;
						border-radius: 6px;
					}
					.b-catalog-item:hover .b-catalog-back{
						box-shadow: 0 16px 30px 0 rgba(82,15,15,0.12);
						background-color: #fff;
					}
				.b-catalog-item:hover{
					z-index: 1;
				}
						
				.discount-item .catalog-item-discount{
					color: #fff;
					width: 54px;
					height: 57px;
					position: absolute;
					top: -30px;
				}
					.catalog-item-discount p{
						position: absolute;
						left: 50%;
						top: 50%;
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
					.b-catalog-img{
						height: 180px;
						width: 180px;
						position: relative;
						text-align: center;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}
						/*.b-catalog-img img{
							max-width: 180px;
							max-height: 180px;
						}*/
					.b-catalog-item-top{

					}
						.b-catalog-item-top h6{
							margin-top: 26px;
						}
						p.article{
							color: #CFD3E0;
							margin-top: 2px;
							letter-spacing: 0.4px;
						}
					.b-catalog-item-bottom{
						margin-top: 4px;
					}
						.price-container{
							display: inline-block;
							width: calc(100% - 154px);
						}
							p.price{
								font-family: 'ProximaNova-Bold';
								font-size: 26px;
								display: inline-block;
								vertical-align: middle;
								position: relative;
								padding-right: 21px;
							}
								p.price:before{
									right: 0;
									font-size: 18px;
								}
							.b-discount-price{
								display: inline-block;
								vertical-align: middle;
								margin-top: 10px;
							}
								.b-discount-price .old-price{
									display: inline-block;
									position: relative;
									padding-right: 15px;
									font-size: 19px;
								}
									.b-discount-price .old-price:after{
										content: '';
										position: absolute;
										left: 0;
										width: 100%;
										bottom: 55%;
										border-bottom: 1px solid #282828;
									}
									.b-discount-price .old-price:before{
										right: -3px;
										font-size: 14px;
										top: 45%;
									}
								.b-discount-price .new-price{
									font-family: 'ProximaNova-Bold';
									font-size: 26px;
									position: relative;
									padding-right: 21px;
									display: inline-block;
									margin-top: 8px;
								}
								.b-discount-price .new-price:before{
									right: 0;
									font-size: 18px;
								}
						.b-catalog-item-bottom .b-btn{
							vertical-align: middle;
							visibility: hidden;
							opacity: 0;
							-webkit-transition: opacity .4s;
							-o-transition: opacity .4s;
							transition: opacity .4s;
							position: relative;
							padding: 14px 20px 16px 17px;
						}
							.b-catalog-item-bottom .b-btn p{
								position: relative;
								padding-left: 36px;
							}
								.b-catalog-item-bottom .b-btn p:before{
									font-size: 18px;
									color: #fff;
								}
					.b-one-click-buy{
						width: 100%;
						text-align: center;
						margin-top: 13px;
						visibility: hidden;
						opacity: 0;
						position: absolute;
						-webkit-transition: visibility .4s;
						-o-transition: visibility .4s;
						transition: visibility .4s;
					}
					.b-catalog-item:hover .b-catalog-item-bottom .b-btn{
						visibility: visible;
						opacity: 1;
					}
					.b-catalog-item:hover .b-one-click-buy{
						visibility: visible;
						opacity: 1;
					}
			.b-load-more{
				margin-bottom: 17px;
				padding-left: 28px;
				position: relative;
				display: inline-block;
			}
				.b-load-more p{
					position: relative;
					font-size: 20px;
				}
					.b-load-more:hover p{
						border-bottom: 1px dashed #ffffff;
					}
					.b-load-more:before{
						left: 0;
						font-size: 16px;
					}
			.b-pagination{
				margin-top: 32px;
			}
				.pagination-arrow{
					position: relative;
					margin: 0px 20px;
					display: inline-block;
					vertical-align: middle;
				}
					.pagination-arrow:hover:before{
						color: #FF345F;
					}
				.arrow-back{
					
				}
					.arrow-back:before{
					   left: 0;
					}
				.b-pagination-container{
					display: inline-block;
					vertical-align: middle;
					margin: 0 24px;
				}
					.b-pagination-item{
						font-size: 18px;
						font-family: 'ProximaNova-Semibold';
						position: relative;
					}
					.b-pagination-item:not(:first-child){
						margin-left: 34px;
					}
						.b-pagination-item:hover{
							color: #FF345F;
						}
						.b-pagination-item.active{
							color: #FF345F;
						}
							.b-pagination-item.active:before{
								width: 44px;
								height: 44px;
								content: '';
								position: absolute;
								border: 2px solid #FF345F;
								border-radius: 100%;
								top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%, -50%);
								-ms-transform: translate(-50%, -50%);
								-o-transform: translate(-50%, -50%);
								transform: translate(-50%, -50%);
							}
							
				.arrow-next{

				}
					.arrow-next:before{
					    right: 0;
					    -webkit-transform: rotate(180deg) translateY(50%);
						-ms-transform: rotate(180deg) translateY(50%);
						-o-transform: rotate(180deg) translateY(50%);
						transform: rotate(180deg) translateY(50%);
					}
.b-news-preview{
	padding-top: 133px;
}
.b-news-preview:before{
	top: 0;
}
	.b-news-preview .b-big-tabs a{
		margin-right: 45px;
    	margin-top: 14px;
	}
	.b-news-list{
		margin-top: 4px;
	}
		.b-news-item{
			width: calc(100%/4 - 18px);
			display: inline-block;
			text-align: left;
		    border-radius: 6px;
		    vertical-align: top;
		    margin-right: 20px;
		    position: relative;
		    margin-bottom: 42px;
		}
		.b-news-item:nth-child(4n){
			margin-right: 0px;
		}
			.b-news-img{
				margin-bottom: 15px;
				border-radius: 6px;
			}
			.b-news-item-text{

			}
				p.date{
					color: #CFD3E0;
					margin-bottom: 8px;
					letter-spacing: 0.2px;
				}
				.b-news-item-text a{
					display: inline-block;
					margin-top: 12px;
					position: relative;
					padding-right: 14px;
				}
					.b-news-item-text a:before{
						color: #FF345F;
						right: 0;
						font-size: 10px;
						-webkit-transform: rotate(180deg) translateY(50%);
						-ms-transform: rotate(180deg) translateY(50%);
						-o-transform: rotate(180deg) translateY(50%);
						transform: rotate(180deg) translateY(50%);
					}
.b-daily-product{
	padding-top: 103px;
	text-align: left;
	padding-bottom: 47px;
}
.b-daily-product:before{
	top: 0;
    background-position: 50% -130px;
}
	.b-two-blocks{

	}
		.b-two-blocks-item{
			display: inline-block;
			width: calc(100%/2 - 13px);
			vertical-align: top;
		}
		.b-two-blocks-item.b-block-1{
			margin-right: 21px;
		}
			.b-daily-product h3{
				color: #CFD3E0;
				margin-bottom: 30px;
			}
			.b-daily-product h4{
				margin-top: 12px;
			}
			.b-one-string-form{
				margin-top: 31px;
			}
				.b-one-string-form input{
					width: calc(100% - 189px);
					padding: 18px 30px;
					border: 2px solid #CFD3E0;
					border-right: none;
					border-top-left-radius: 30px;
					border-bottom-left-radius: 30px;
				}
					.b-one-string-form input::-webkit-input-placeholder {
						color: #CFD3E0;
					}
				.b-one-string-form a{
					width: 189px;
					border: 2px solid #FF345F;
					display: inline-block;
					padding: 18px 38px 20px;
					border-top-right-radius: 30px;
					border-bottom-right-radius: 30px;
					margin-left: -4px;
					font-size: 18px;
				}
				.b-one-string-form a:hover{
					background-color: #FF345F;
					color: #fff;
				}
		.b-two-blocks-item.b-block-2{
			margin-top: 20px;
		}
			.b-two-blocks-item.b-block-2 .b-catalog-item{
				width: 100%; 
			}
				.b-daily-product .icon-discount-full{
					top: -20px;
				}
				.b-daily-product .icon-discount-full:before{
				    font-size: 80px;
				}
				.b-daily-product .catalog-item-discount p{
					font-size: 18px;
				    left: 70%;
				}
				.b-two-blocks-item.b-block-2 .b-catalog-img{
					height: 282px;
					width: 267px;
					display: inline-block;
					vertical-align: middle;
				}
					.b-two-blocks-item.b-block-2 .b-catalog-img img{
						max-width: 267px;
						max-height: 217px;
					}
					.b-catalog-item-left-block{
						display: inline-block;
						width: calc(100% - 295px);
						vertical-align: middle;
						margin-left: 21px;
					}
						.b-catalog-item-left-block .b-catalog-item-top h6{
							margin-top: 0;
						}
							.b-catalog-item-left-block .b-catalog-item-bottom .b-btn{
							    visibility: visible;
    							opacity: 1;
    							float: right;
    							margin-top: 8px;
							    padding-left: 20px;
   								padding-right: 16px;
							}
							.b-catalog-item-left-block .b-catalog-item-bottom .b-btn p{
								padding-left: 0;
								font-size: 18px;
							}
								.b-catalog-item-left-block .b-catalog-item-bottom .b-btn p:before{
									content: '';
								}
.b-own-products{
	position: relative;
	/*padding-bottom: 145px;*/
}
	.b-own-container{
		background-image: url('../i/own-brands-back-1.jpg');
		height: 724px;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 55px 36px 116px 47px;
	}
		.b-own-products:after{
		    position: absolute;
		    /*content: '';*/
		    background-image: url(../i/own-brands-cake.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    width: 575px;
		    height: 100%;
		    z-index: 0;
		    left: 48%;
		    -webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    -o-transform: translateX(-50%);
		    transform: translateX(-50%);
		    bottom: -275px;
		}
		.b-own-products h2{
			font-family: 'ProximaNova-Regular';
			max-width: 700px;
			margin: 0 auto;
		}
		.b-own-products h4{
			line-height: 29px;
			margin-bottom: 19px;
		}
		.b-own-products p{
			line-height: 24px;
		}
		.b-advantages{
			margin-top: 41px;
			margin-bottom: 49px;
		}
			.b-advantages li{
				display: inline-block;
				font-size: 20px;
				position: relative;
			}
				.b-advantages li:before{
					position: absolute;
					content: '';
					background-image: url('../i/adv-icon-1.svg');
					background-repeat: no-repeat;
					background-size: cover;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.b-advantages li:nth-child(1){
					padding-left: 41px;
				}
					.b-advantages li:nth-child(1):before{
						background-image: url('../i/adv-icon-1.svg');
						width: 28px;
						height: 28px;
					}
				.b-advantages li:nth-child(2){
					padding-left: 41px;
				}
					.b-advantages li:nth-child(2):before{
						background-image: url('../i/adv-icon-2.svg');
						width: 28px;
						height: 28px;
					}
				.b-advantages li:nth-child(3){
					padding-left: 42px;
				}		
					.b-advantages li:nth-child(3):before{
						background-image: url('../i/adv-icon-3.svg');
						width: 29px;
						height: 28px;
					}
				.b-advantages li:nth-child(4){
					padding-left: 35px;
				}
					.b-advantages li:nth-child(4):before{
						background-image: url('../i/adv-icon-4.svg');
						width: 22px;
						height: 28px;
					}
				.b-advantages li:nth-child(5){
					padding-left: 46px;
				}
					.b-advantages li:nth-child(5):before{
						background-image: url('../i/adv-icon-5.svg');
						width: 33px;
						height: 24px;
					}
				.b-advantages li:not(:last-child){
					margin-right: 31px;
				}
		.b-own-products-text{
			text-align: left;
		}
			.b-own-products-text.left{
				float: left;
				width: 253px;
			}
			.b-own-products-text.right{
				float: right;
				width: 268px;
			}
.b-tabs{

}
	.b-catalog-tabs{
		padding-top: 137px;
		margin-bottom: 87px;
	}
	.b-catalog-tabs:before{
		top: 0;
	}
		.b-tabs-container{
			text-align: left;
			line-height: 24px;
			margin-bottom: 26px;
		}
			.b-tabs-container-underline{
				font-size: 18px;
				font-family: 'ProximaNova-Bold';
				border-bottom: 2px solid #CFD3E0;
			}
			.b-tabs-container-dashed{
				font-size: 18px;
				color: #CFD3E0;
				font-family: 'ProximaNova-Regular';
			}
				.b-tabs-container-dashed .b-tab{
					font-size: 16px;
				}
				.b-tabs-container-dashed .b-tab:not(:first-child){
					margin-left: 70.5px;
				}
				.b-tab{
					display: inline-block;
					cursor: pointer;
				}
				.b-tabs-container-underline .b-tab{
					padding-bottom: 17px;
				}
				.b-tabs-container-dashed .b-tab{
					border-bottom: 2px dashed;
				}
					.b-tab.active, .b-tab:hover{
						color: #FF345F;
					}
						.b-tabs-container-underline .b-tab.active, .b-tabs-container-underline .b-tab:hover{
							border-bottom: 2px solid #FF345F;
							margin-bottom: -2px;
						}
						.b-tabs-container-dashed .b-tab:hover{
							border-bottom: 2px dashed #FF345F;
						}
						.b-tabs-container-dashed .b-tab.active{
							border-bottom: 2px solid #FFF;
							font-family: 'ProximaNova-Regular';
						}
					.b-tab:not(:first-child){
						margin-left: 46px;
					}
				/*.b-tab-item{
					margin-top: 47px;
				}*/
				.b-tab-item .b-catalog-list{
					margin-top: 48px;
				}
.b-bonus{
	margin-bottom: 78px;
}
	.b-bonus-img{
		height: 569px;
		background-image: url('../i/bonus-back.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 64px;
	}
		.b-bonus h2{

		}
		.b-bonus p{
			color: #AD9088;
			margin-top: 7px;
		}
.b-video-block{
	/*background-image: url('../i/wave.svg');
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;*/
}
	.b-video-block .b-catalog-item{

	}
		.b-video-block .b-catalog-img{
			width: 267px;
			background-size: cover;
			border-radius: 6px;
			display: block;
			-webkit-transition: background-color .2s;
			-o-transition: background-color .2s;
			transition: background-color .2s;
		}
			.b-video-block .b-catalog-img:hover{
			    background-color: rgba(0,0,0,0.3);
			}
			.b-video-block .b-catalog-img:hover:after{
				-webkit-transform: translate(-50%, -50%) scale(1.2);
				-ms-transform: translate(-50%, -50%) scale(1.2);
				-o-transform: translate(-50%, -50%) scale(1.2);
				transform: translate(-50%, -50%) scale(1.2);
			}
		.b-video-block .b-catalog-img:before{
			position: absolute;
			content: '';
			width: 89px;
			height: 89px;
			background-color: rgba(255,255,255,0.7);
			border-radius: 100%;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		.b-video-block .b-catalog-img:after{
			position: absolute;
			content: '';
			width: 25px;
			height: 32px;
			background-image: url('../i/play.svg');
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			top: 50%;
			left: 51%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-transition: transform .2s;
			-o-transition: transform .2s;
			transition: transform .2s;
		}
			.b-video-block .b-catalog-img img{
				max-width: 100%;
				max-height: 100%;
			}
		.b-video-block h2{
			margin-bottom: 6px;
		}
		.b-video-block h4{
			color: #CFD3E0;
			line-height: 29px;
			margin-bottom: 14px;
		}
		.b-video-block p{
			line-height: 24px;
		}
		.b-video-block .b-btn-white{
			margin-top: 32px;		
		}
.b-gallery-preview{
	background-color: #38C7BF;
	background-image: url('../i/preview-gallery-back.svg');
    background-size: 1440px;
    background-position: 50%;
	padding-top: 107px;
	padding-bottom: 108px;
	color: #fff;
	text-align: left;
}
.b-gallery-preview:before{
	top: 0;
	z-index: 0;
    background-position: 50% -110px;
}
.b-gallery-preview:after{
	position: absolute;
	z-index: 0;
	content: '';
	width: 100%;
	height: 240px;
	background-position: 50% 2px;
	left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/wave-right-to-left-top.svg');
}
	.b-1-by-3-blocks{

	}
		.b-1-by-3-blocks .b-block-1{
			display: inline-block;
			width: calc(100%/4 - 16px);
			vertical-align: middle;
			padding-right: 20px;
		    margin-right: 12px;
	        margin-bottom: 44px;
		}
			.b-gallery-preview h2{
				margin-bottom: 16px;
			}
			.b-gallery-preview h4{
				margin-bottom: 19px;
			}
			.b-gallery-preview p{
				line-height: 24px;
				margin-bottom: 32px;
			}
			.b-gallery-preview .b-btn-white{
				border: 1px solid #fff;
				color: #fff;
				text-align: center;
				width: 100%;
			}
				.b-gallery-preview .b-btn-white:hover{
					background-color: #fff;
					border: 1px solid #fff;
					color: #38C7BF;
				}
			.b-gallery-preview .b-btn-full-white{
				color: #38C7BF;
				padding-left: 59px;
				position: relative;
				margin-top: 38px;
			}
				.b-gallery-preview .b-btn-full-white:before{
					position: absolute;
					content: '';
					background-image: url('../i/icon-download.svg');
					width: 17px;
					height: 18px;
					left: 26px;
				}
		.b-1-by-3-blocks .b-block-2{
			display: inline-block;
			width: calc(100%/4*3);
			vertical-align: middle;
		}
			.b-1-by-3-item{
				display: inline-block;
				width: calc(100%/3 - 18px);
				margin-right: 20px;
			}
				.b-1-by-3-item:nth-child(3n){
					margin-right: 0;
				}
				.gallery-preview-img{
					width: 100%;
					height: 273px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: 50%;
					border-radius: 6px;
				}
				.b-like{
					font-size: 20px;
					position: relative;
					margin-top: 16px;
					cursor: pointer;
					padding-left: 30px;
				}
				.b-like:before{
					left: 0;
				}
.b-bottom-catalog{
	margin-top: 38px;
	margin-bottom: 32px;
	text-align: left;
}
	.b-bottom-catalog p{
		line-height: 24px;
	}
	.b-bottom-catalog .b-tabs-container{
		margin-bottom: 40px;
	}
		.b-bottom-catalog .b-tab:not(:first-child){
			margin-left: 56px;
		}
		.b-tab-about .b-2-by-1-blocks{
			margin-bottom: 80px;
		}
			.b-2-by-1-blocks .b-block-1{
				display: inline-block;
				width: calc(100%/3*2 - 100px);
				vertical-align: top;
			}
			.b-2-by-1-blocks .b-block-2{
				display: inline-block;
				width: calc(100%/3 - 18px);
				margin-left: 113px;
				vertical-align: top;
			}
			.b-bottom-catalog h3{
				margin-bottom: 5px;
			}
			.b-bottom-catalog h6{
				margin-bottom: 21px;
				color: #777777;
			}
		.b-tab-about .about-advantages{

		}
			.about-advantages-item{
				display: inline-block;
				width: calc(100%/3 - 51px);
				margin-right: 71px;
				padding-left: 58px;
				margin-bottom: 48px;
				position: relative;
				background-repeat: no-repeat;
			}
				.about-advantages-item:nth-child(3n){
					margin-right: 0;
				}
					.about-advantages-item h4{
						letter-spacing: 0.5px;
						margin-bottom: 7px;
					}
					.about-advantages-item p{

					}
.b-sub-block{
	padding-bottom: 51px;
}
	.b-sub-block .b-block{
		background-image: url('../i/sub-back.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 55px;
		padding-bottom: 61px;
	}
		h2.sub-title{
			font-size: 36px;
			line-height: 44px;
			font-family: 'ProximaNova-Regular';
			margin-bottom: 14px;
			letter-spacing: 1.1px;
		}
		.b-sub-block h5{
			color: #CA988A;
			margin-bottom: 26px;
			line-height: 24px;
		}
		.b-sub-block .b-one-string-form{
			margin: 0 auto;
			max-width: 628px;
		}
			.b-sub-block .b-one-string-form input{
				border: 0;
				padding: 20px 30px;
			}
			.b-sub-block .b-one-string-form a{
			    padding: 20px 38px 22px;
				border: 0;
				background: #FF345F;
				color: #fff;
			}
.b-footer{
	padding-top: 100px;
	padding-bottom: 43px;
}
.b-footer:before{
	top: 0;
	background-position: 50% -50px;
}
	.b-bottom-menu{
		text-align: left;
		margin-bottom: 40px;
	}
		.b-bottom-menu-list{
			display: inline-block;
			vertical-align: top;
			width: calc(100%/4 - 18px);
			margin-right: 20px;
		}
		.b-bottom-menu-list:last-child{
			margin-right: 0;
		}
			.b-bottom-menu-list h4{
				font-family: 'ProximaNova-Bold';
				margin-bottom: 16px;
			}
			.b-bottom-menu-list ul{

			}
				.b-bottom-menu-list ul>li{
					margin-bottom: 11px;
				}
					.b-bottom-menu-list a.underline{
						border-bottom: 1px solid #D8D8D8;
					}
					.b-bottom-menu-list a.underline:hover{
						border-bottom: 1px solid #fff;
					}
			.b-soc{

			}
				.b-soc-item{
					display: inline-block;
					position: relative;
					width: 35px;
					height: 35px;
					border: 1px solid #282828;
					border-radius: 100%;
					margin-right: 7px;
				}
				.b-soc-item:hover{
					background-color: #282828;
				}
				.b-soc-item:hover:before{
					color: #fff;
				}
	.b-underfooter{
		text-align: left;
	}
		.b-underfooter-item{
			display: inline-block;
			font-size: 12px;
			color: #777777;
			width: calc(100%/3);
			text-align: center;
			vertical-align: middle;
		}
		.left-underfooter-item{
			text-align: left;
		}
			.underfooter-link{
				font-size: 12px;
				border-bottom: 1px solid #D8D8D8;
			}
			.underfooter-link:hover{
				border-bottom: 1px solid #fff;
			}
			.b-underfooter-item .politics-link{
				color: #777777;
				font-size: 14px;
				margin-right: 6px;
			}

@media only screen and (max-width: 1920px){
	/*.b-news-preview:before{
		top: -60px;
	}*/
}

@media only screen and (max-width: 1440px){
	/*.b-news-preview:before{
		top: -30px;
	}*/
}

@media only screen and (max-width: 1150px){
	.b-block{
		width: 900px;
	}
		.b-top-schedule{
			margin-left: 7px;
		}
		.b-top-auth .icon-rub{
			margin-right: 12px;
		}
		.b-menu li{
			margin: 0 10px;
		}
		.b-catalog-menu{
			margin-left: 20px;
		}
		.b-search-input{
		    max-width: 300px;
			margin-left: 20px;
			margin-right: 18px;
		}
		.b-cart{
			margin-left: 20px;
		}
}