@charset "utf-8";

body {
	min-width: 240px;
}
input, textarea{
	font-size: 16px;
}
a{
	font-size: 14px;
}
h1{
	font-size: 32px;
	line-height: 40px;
}
h2{
	font-size: 32px;
	line-height: 40px;
}
h3{
	font-size: 24px;
	line-height: 32px;
}
h4{
	font-size: 20px;
	line-height: 26px;
}
h5{
	font-size: 18px;
	line-height: 26px;
}
h6{
	font-size: 16px;
	line-height: 20px;
}
p{
	font-size: 14px;
	line-height: 20px;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    border: 2px solid #D5D9E4;
    padding: 10px 48px 10px 18px;
    border-radius: 23px;
    position: relative;
    width: 100%;
    font-family: 'ProximaNova-Regular';
    background: #fff;
}
.jq-selectbox.jqselect:before{
	content: '';
    background: url(../i/icon-select-tick.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 17px;
    height: 10px;
    position: absolute;
    right: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    z-index: 1;
}
.jq-selectbox__select{
	display: none;
}
.b-block {
    width: calc(100% - 32px);
}
.b-top-content-block{
	display: block;
	margin-bottom: 7px;
}
.b-top-city{
	float: unset;
}
.b-top-auth{
	float: unset;
}
.b-top-schedule{
	margin-left: 0;
}
	.b-top-schedule p{
		display: inline-block;
	}
	.icon-clock{
		padding-left: 0;
	}
	.b-top-schedule .icon-clock:before{
		content: "";
	}
.pink-header-block{
	padding: 20px;
}
	.b-menu-container{
		display: none;
	}
	.b-phone{
		float: right;
		margin-top: 12px;
	}
		.phone{
			font-size: 16px;
		}
	.menu-header-block{
		display: none;
	}	
		.b-catalog-menu{
			margin-left: 0;
		}
		.b-search-form{
		    width: 100%;
		    margin: 0;
		    margin-top: 15px;
		    margin-bottom: 15px;
		}
		.b-cart{
			margin-left: 0;
			float: right;
		}
			.pink-header-block .dashed{
				display: inline-block;
				margin-top: 15px;
			}
.b-banner-1{
	width: 100%;
	margin-bottom: 25px;
}
	.b-banner-1 img{
		max-width: 100%;
	}
	.b-banner-1 h4{
		letter-spacing: 0;
	}
.b-banner-2{
	max-width: 100%;
	margin-left: 0;
	text-align: center;
	background-position: 50% 40%;
}
.b-big-tabs a{
	margin-top: 20px;
    margin-right: 26px;
    display: block;
    max-width: 125px;
    float: unset;
}
	.b-big-tabs a:hover{
		border-bottom: 2px solid #CFD3E0;
	}
.b-big-tabs h2:not(.deactive){
	width: 100%;
}	
.b-big-tabs h2:not(:first-child){
    margin-left: 0;
    margin-top: 5px;
}
.b-catalog-item{
    width: calc(100%/2 - 12px);
    margin-right: 20px;
}
.b-catalog-item:nth-child(3n){
	margin-right: 20px;
}
.b-catalog-item:nth-child(2n){
	margin-right: 0;
}
	.b-catalog-back{
		width: 0;
		height: 0;
	}
	.b-catalog-item-bottom .b-btn{
		visibility: visible;
		opacity: 1;
	}
	.b-one-click-buy{
		visibility: visible;
		opacity: 1;
		margin-top: 18px;
	}	
	.b-catalog-img{
		max-width: 100%;
	}
	.b-catalog-item-bottom .b-btn{
    	padding: 12px 18px 14px 18px;
	}
	.b-catalog-item-bottom .b-btn:before{
		content:"";
	}
		.b-catalog-item-bottom .b-btn p{
			padding: 0 10px;
		}
		.b-catalog-item-bottom .b-btn:hover p{
			-webkit-transform: unset;
			-ms-transform: unset;
			-o-transform: unset;
			transform: unset;
		}
		.price-container{
			max-width: 90px;
		}
			p.price{
				font-size: 22px;
				line-height: 23px;
			}
			p.price:before{
				font-size: 16px;
			}
			.b-discount-price .old-price{
				font-size: 16px;
			}
			.b-discount-price .old-price:before{
				font-size: 12px;
				top: 50%;
				right: 0;
			}
			.b-discount-price .new-price{
				font-size: 22px;
				margin-top: 0;
			}
			.b-discount-price .new-price:before{
				font-size: 16px;
			}
			.discount-item .catalog-item-discount{
				top: -20px;
			}
.b-load-more p{
	font-size: 16px;
}
	.b-load-more:before{
		font-size: 14px;
	}
.b-news-item{
    width: calc(100%/2 - 12px);
    margin-right: 20px;
}
.b-news-item:nth-child(2n){
	margin-right: 0;
}
.b-daily-product .b-block-1{
	width: 100%;
}
.b-daily-product .b-block-2{
	width: 100%;
}
.b-one-string-form a{
    padding: 19px 15px 19px;
    font-size: 16px;
}
.b-daily-product .icon-discount-full:before{
	font-size: 60px;
}
.b-daily-product .catalog-item-discount p{
	font-size: 16px;
	left: 50%
}
.b-daily-product .icon-discount-full{
	top: 0;
}
	.b-catalog-item-left-block .b-catalog-item-bottom .b-btn{
		float: unset;
	}
		.b-catalog-item-left-block .b-catalog-item-bottom .b-btn p{
			padding: 0 20px;
			font-size: 16px;
		}
.b-own-container{
	height: auto;
    padding: 35px 25px 25px 20px;
    background-size: 840px;
}
	.b-own-products .b-block:after{
	    background-position: 300px 170px;
    	background-size: 300px;
    	bottom: unset;
    	top: 0;
	}
		.b-advantages li{
			display: block;
			margin-bottom: 25px;
			font-size: 18px;
			padding-left: 50px!important;
		}
		.b-own-products p{
			max-width: 400px;
		}
	.b-own-products-text.left{
		float: unset!important;
		width: 100%;
	}
	.b-own-products-text.right{
		float: unset!important;
		width: 100%;
		margin-top: 20px;
	}
		.b-own-products h4{
			margin-bottom: 5px;
		}
	.b-catalog-tabs{
	    padding-top: 120px;
	}
		.b-catalog-tabs .b-catalog-item:nth-child(4n){
			display: inline-block;
		}
.b-catalog-tabs{
	text-align: left;
}
	.b-tabs-container{
		display: none;
	}
		.b-tabs-select{
			display: inline-block;
			margin-bottom: 20px;
		}
		.b-tabs-select p{
			font-size: 16px;
			margin-bottom: 10px;
		}
.b-bonus-img{
	background-color: #FFE9E3;
	background-image: url('../i/bonus-hand.png');
	background-size: contain;
	background-position: bottom;
    height: calc(100vw/1.5);
}
.b-video-block .b-catalog-item{
	margin-bottom: 70px;
}
.b-video-block .b-catalog-item:nth-child(1){
	margin-bottom: 40px;
}
	.b-video-block .b-catalog-item:nth-child(4n){
		display: inline-block;
	}
.b-gallery-preview:after{
    top: -10px;
}
	.b-gallery-preview h2{
		margin-bottom: 0;
	}
	.b-gallery-preview p{
		max-width: 310px;
		margin-bottom: 12px;
	}
.b-1-by-3-blocks .b-block-1{
	width: 100%;
	margin-right: 0;
}
	.b-gallery-preview .b-btn-white{
		max-width: 200px;
	}
.b-1-by-3-blocks .b-block-2{
	width: 100%;
}
.b-2-by-1-blocks .b-block-1{
	width: 100%;
}
.b-2-by-1-blocks .b-block-2{
	width: 100%;
	margin-left: 0;
	margin-top: 30px;
}
	.about-advantages-item{
	    width: calc(100%/2 - 12px);
	    margin-right: 0;
	}
	.about-advantages-item:nth-child(2n){
		margin-left: 20px;
	}
.b-sub-block .b-block{
	padding: 55px 10px;
    background-color: #FFF3EF;
    background: url(../i/sub-top-left.png) top left no-repeat,
 				url(../i/sub-top-right.png) top right no-repeat,
 				url(../i/sub-bottom-left.png) bottom left no-repeat,
 				url(../i/sub-bottom-right.png) bottom right no-repeat,
 				#FFF3EF;
 	background-size: 100px;
}
.b-two-blocks-item.b-block-1{
	margin-right: 0;
}
.b-category-bottom-catalog{
	margin-top: 50px;
	margin-bottom: 50px;
}
@media screen and (max-width: 600px){
    .b-own-products .b-block:after{
    	background-position: 250px 170px;
    }
    .b-gallery-preview .b-1-by-3-item{
		/*margin-right: 0;*/
		margin: 5px;
	}
	    .gallery-preview-img{
			height: 270px;
			/*margin: 5px;*/
		}
	.b-bottom-menu-list{
		width: calc(100%/2 - 18px);
		margin-right: 0;
	}
		.b-bottom-menu-list:nth-child(2n){
			margin-left: 30px;
			margin-bottom: 20px;
		}
	.b-underfooter-item{
		width: 100%;
		text-align: left;
		margin-top: 10px;
	}
	.b-underfooter-item .politics-link{
		font-size: 12px;
	}
		
}

@media screen and (max-width: 500px){
	.b-header{
		padding-bottom: 45px;
	}
		.b-header:after{
			bottom: -30px;
		}
	.b-banners{
		padding-top: 0;
	}
	.b-banner-column{
		max-width: 100%;
		margin-bottom: 10px;
	}
	.b-catalog-preview{
		padding-top: 45px;
	}
		.b-catalog-item{
			width: 100%;
			margin-right:0!important;
			margin-left:0!important;
		}
	.b-load-more{
		margin-bottom: 0;
	}
	.b-news-item{
		width: 100%;
		margin-right: 0;
	}
	.b-one-string-form input{
		width: 100%;
	    border-right: 2px solid #CFD3E0; 
    	border-radius: 30px;
	}
	.b-one-string-form a{
		text-align: center;
		display: block;
	    margin: 0 auto;
	    margin-top: 10px;
		border-radius: 30px;
		width: 100%;
		max-width: 220px;
	}
	.b-two-blocks-item.b-block-2 .b-catalog-img{
		display: block;
	}
	.b-catalog-item-left-block{
		width: 100%;
		margin-left: 0;
	}
	.b-daily-product{
		padding-top: 0;
	}
	.b-own-container{
		background-size: 780px;
		padding: 0 10px;
	}
		.b-advantages{
			margin-bottom: 0;
		}
	.b-tab-about .about-advantages{
		text-align: left;
	}
	.b-tab-about .b-2-by-1-blocks{
		margin-bottom: 30px;
	}
	.about-advantages-item{
		width: 100%;
		margin-bottom: 15px;
	}
	.about-advantages-item:nth-child(2n){
		margin-left: 0;
	}
	h2.sub-title{
		letter-spacing: 0px;
	}
	.b-daily-product{
		padding-bottom: 0;
	}
	/*.b-pagination{
		display: inline-block;
	}*/
		.pagination-arrow{
			margin: 0;
		}
			.b-pagination-item:not(:first-child){
				margin-left: 24px;
			}
			.b-pagination-item.active:before{
			    width: 33px;
	    		height: 33px;
			}
	.b-bottom-menu-list h4{
		font-size: 18px;
	}
		.b-bottom-menu-list:nth-child(4) h4{
			display: none;
		}
		.b-soc-item{
			margin-right: 4px;
		}
	.b-news-preview{
		padding-top: 90px;
	}
	.b-news-preview:after{
		bottom: -40px;
	}
	.b-tabs-select{
		width: 100%;
		max-width: 300px;
	}
	.b-sub-block{
		padding-bottom: 10px;
	}
	.b-footer{
		padding-top: 70px;
	}
	.b-video-block .b-btn-white{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		text-align: center;
		max-width: 250px;
	}
	.b-gallery-preview{
		padding-top: 60px;
	}
		.b-gallery-preview:after{
			top: -20px;
		    background-position: 50%;
		    height: 92px;
		}
		.b-gallery-preview:before{
			bottom: -30px;
		}
	.b-bottom-catalog{
		margin-top: 0;
	}
	.b-bottom-catalog .b-block-2{
		text-align: center;
	}
	.b-tab-item .b-catalog-list .b-catalog-item{
		margin-bottom: 64px;
	}
	.b-tab-item .b-btn-white{
		display: block;
		margin: 0 auto;
		max-width: 250px;
		text-align: center;
	}
	.b-catalog-tabs{
		padding-top: 70px;
	}
	.b-bonus-img{
		padding: 25px;
	}
		.b-bonus-img h2{
		    font-size: 28px;
    		line-height: 36px;
		}
	.b-daily-product h4{
		font-size: 16px;
	}
	.b-category-bottom-catalog{
		margin-top: 50px;
	}
}

@media screen and (max-width: 376px){
	h2.sub-title{
	    font-size: 28px;
    	line-height: 36px;
	}
	.b-own-container{
		background-size: 900px;
	}
	.b-own-products .b-block:after{
		background-position: 210px 190px;
	}
	

}
@media screen and (max-width: 350px){
	.b-bonus-img{
		height: 280px;
	}
}
