@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 750px;
	font-size: 14px;
	text-align: left;
	font-family: 'UbuntuRegular', Sans-Serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #1b1b1b;
	line-height: 18px;
}
.b-block{
	width: 860px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}
h1.b-title, h2.b-title{
	font-size: 40px;
	line-height: 48px;
}
/*-----------Slideout-----------*/

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.b-menu-overlay{
	display: none;
    /*-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-----------------------*/

/*services*/
.service-mark img{
	width: 27px;
}
.service-item .b-block h2{
	padding-right: 0;
}
.b-block-before, .b-block-after{
	display: none;
}
.guarantee-info h2.b-title, .guarantee-info h3{
	padding-right: 0;
}
.project-scheme .b-block{
	max-width: 100%;
}
.project-scheme{
	background-color: #FFF;
}
.project-scheme h2.b-title{
	padding-left: 24px;
}
.scheme{
	background-image: none;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow-x: unset;
    position: relative;
    height: unset;
    margin-top: 30px;
}
.b-scheme-item{
	position: relative;
	padding-top: 62px;
	padding-bottom: 31px;
	padding-left: 161px;
}
.b-scheme-item p{
	max-width: 350px;
}
.b-scheme-item h3{
	max-width: 250px;
}
.b-scheme-item span.scheme-num{
	font-size: 36px;
	text-align: left;
	display: inherit;
    padding-left: 62px;
    padding-bottom: 20px;
}
.b-scheme-item span.scheme-num:before{
	content: ".";
	position: absolute;
	left: 81px;
	top: 45px;
	font-size: 70px;
}
.b-scheme-item:after{
	content: "";
	font-size: 70px;
	position: absolute;
    height: 100%;
    top: 0;
    left: 89px;
}
.b-scheme-item:nth-child(1){
	background-color: #1c83c7;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(1):after{
		border-left: 1px solid #013b6d;
		color: #013b6d;
		top:75px;
	}
	.b-scheme-item:nth-child(1):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(1) span.scheme-num:before{
		color: #013b6d; 
	}
.b-scheme-item:nth-child(2){
	background-color: #15563c;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(2):after{
		border-left: 1px solid #1e9a68;
		color: #1e9a68;
	}
	.b-scheme-item:nth-child(2):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(2) span.scheme-num:before{
		color: #1e9a68; 
	}
.b-scheme-item:nth-child(3){
	background-color: #013b6d;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(3):after{
		border-left: 1px solid #1b82c6;
		color: #1b82c6;
	}
	.b-scheme-item:nth-child(3):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(3) span.scheme-num:before{
		color: #1b82c6; 
	}
.b-scheme-item:nth-child(4){
	background-color: #1b82c6;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(4):after{
		border-left: 1px solid #013b6d;
		color: #013b6d;
	}
	.b-scheme-item:nth-child(4):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(4) span.scheme-num:before{
		color: #013b6d; 
	}
.b-scheme-item:nth-child(5){
	background-color: #15563c;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(5):after{
		border-left: 1px solid #1e9a68;
		color: #1e9a68;
	}
	.b-scheme-item:nth-child(5):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(5) span.scheme-num:before{
		color: #1e9a68; 
	}
.b-scheme-item:nth-child(6){
	background-color: #013b6d;
	width: 100%;
	top: unset;
	bottom: unset;
	left: unset;
	right: unset;
}
	.b-scheme-item:nth-child(6):after{
		border-left: 1px solid #1b82c6;
		color: #1b82c6;
		height: 75px;
	}
	.b-scheme-item:nth-child(6):before{
		top: 36px;
    	left: 163px;
	}
	.b-scheme-item:nth-child(6) span.scheme-num:before{
		color: #1b82c6; 
	}
.b-scheme-logo{
	display: none;
}
.about-img{
    width: 38%;
}
/*------Мониторинг, обработка и анализ информации о закупках-------*/
.monitoring-scheme-item{
     width: calc(100%/3 - 10px);
}
	.monitoring-scheme-item:not(:nth-child(3n)){
		margin-right: 10px;
	}
	.monitoring-scheme-item:nth-child(n+4){
	    margin-top: 30px;
	}
.monitoring-tabs .choice-block div{
	width: calc(100%/2 - 18px);
}
	.monitoring-tabs .choice-block div:not(:first-child){
		margin-left: 0;
	}
	.monitoring-tabs .choice-block div:nth-child(2n){
		margin-left: 15px;
	}
	.monitoring-tabs .choice-block div:nth-child(n+3){
		margin-top: 25px;
	}

@media screen and (max-width: 1120px){
	.b-special h4.item-title{
		width: 100%;
	}
	.blue-block h3.b-title{
		width: 100%;
	}
	.b-about-blocks-item{
		padding-right: 10px;
	}
	.b-info-partners-item{
	    width: calc(100%/2 - 4px);
	    text-align: center;
	}
	.b-info-partners-item:not(:last-child){
		margin-right: 0;
	}
	.b-info-partners-item:nth-child(n+3){
	    margin-top: 30px;
	}

	/*services*/

	.service-link:not(:first-child){
		margin-left: 0;
	}
	/*services*/
.b-services-menu{
	padding-top: 0;
}
.service-link{
	width: calc(50% - 4px);
}
.service-link:nth-child(n+3){
	margin-top: 20px;
}
	.service-link div{
		display: inline-block;
	}	
.service-bottom-text{
	padding-right: 0;
	padding-bottom: 35px;
}
.service-item-section{
	width: 100%;
	max-width: 700px;
}
.service-item-section:not(:first-child){
	margin-top: 42px;
}
.service-item-section:nth-child(2n){
	margin-left: 0;
}
.service-marks{
	padding-bottom: 35px;
}
	.service-marks .service-mark{
		width: 100%;
	}
	.service-marks .service-mark:not(:first-child){
		margin-left: 0;
	}
	.service-marks .service-mark:nth-child(n+2){
		margin-top: 20px;
	}
		.service-mark div{
			display: inline-block;
			vertical-align: middle;
		}
		.service-mark div:last-child{
			width: calc(100% - 42px);
		}
	/* О компании */
	.choice-about a{
		position: relative;
	}
	.choice-about div{
		width: unset;
		height: unset;
	}
	.choice-about{
		text-align: left;
		padding-bottom: 20px;
   		padding-top: 10px;
	}
	.about-container .b-special-item{
		margin: 0;
		width: calc(100%/2 - 10px);
	}
		.about-container .b-special-item:nth-child(2n){
			margin-left: 15px;
		}
		.about-container .b-special-item:nth-child(n+3){
			margin-top: 15px;
		}
	.about-scheme-item h3{
	    font-size: 20px;
    	line-height: 18px;
	}
	.b-team-photo{
		height: 455px;
	}
	.b-team-item{
	    width: calc(100%/3 - 15px);
	    margin: 0;
	}
		.b-team-item:not(:last-child){
			margin-right: 0;
		}
		.b-team-item:not(:nth-child(3n)){
			margin-right: 18px;
		}
		.b-team-item:nth-child(n+4){
			margin-top: 18px;
		}
	.competence-item{
		width: 100%;
	}
	.competence-item:not(:first-child){
		margin-left: 0;
		margin-top: 15px;
	}
	.about-scheme-item{
		width: calc(100%/2);
	}
	/* О компании */

	.competence-item{
		width: calc(100%/3 - 7px);
		padding-top: 30px;
  		padding-left: 25px;
	}
		.competence-item:not(:first-child){
			margin-left: 10px;
		}
/*------Сопровождение конкурсных процедур-------*/
	.maintenance-container h1.b-title{
		line-height: 48px;
		font-size: 40px;
		padding-top: 0;
	}
	.maintenance-reasons p{
		line-height: 22px;
	}
	.maintenance-reasons ul li{
		line-height: 22px;
	}
	.help-form-block .input-string{
	    width: calc(100%/3 - 9px);
	}
		.help-form-block .input-string:not(:first-child){
			margin-left: 10px;
		}
	.help-form-block .b-btn{
	    padding: 23px 43px 21px;
	}
	.help-form-block .b-btn-center{
		float: none;
	}
/*------Аутсорсинг тендерного отдела-------*/
	.inline-doc-item{
		width: calc(100%/3 - 44px);
	}
		.inline-doc-item a{
			font-size: 18px;
		}
/*--------Работа с ЭДО и ЭТП------------*/
	.b-text .etp-left p{
		font-size: 14px;
	}
	.b-text .etp-left li{
		font-size: 14px;
	}
		.etp-white-block p{
			line-height: 20px;
		}
	.etp-container .service-mark{
	    width: calc(100%/3 - 3px);
	}
	.etp-container .service-marks .service-mark:nth-child(n+2){
		margin-top: 0;
	}
	.etp-left .service-mark p{
		padding-bottom: 0;
	}
	.etp-right{
		width: calc(100%/3 - 6px);
		margin-left: 15px;
	    padding: 25px 20px;
	}
		.etp-right h4{
			font-size: 22px;
		}
	.etp-work .service-item-section{
		width: calc(100%/2 - 20px);
	}

	.etp-work  .service-item-section:not(:first-child){
		margin-top: unset;
	}
	.etp-work .service-item-section:nth-child(n+3){
		margin-top: 18px;
	}
	.reference h4{
	    padding-top: 0;
	}
	.etp-work .choice-block div a{
	    font-size: 16px;
	}
	.reference .b-text{
		padding-bottom: 20px;
	}
	.reference .block-line{
		margin-top: 30px;
	    margin-bottom: 30px;
	}
/*--------Лизинг------------*/
		.leasing-item-left{
			width: 76px;
	    	height: 66px;
		}
			.leasing-item-left img{
			    max-width: 56px;
	    		max-height: 46px;
			}
		.leasing-item-right{
		    padding-left: 5px;
		    font-size: 14px;
		    line-height: 20px;
		}

	.leasing-block .service-marks .service-mark{
		width: calc(100%/3 - 9px);
		vertical-align: top;
		margin-top: unset;
	}
		.leasing-block .service-marks .service-mark div{
		    display: table-cell;
    		vertical-align: top;
		}
	.leasing-block .service-marks .service-mark:not(:first-child){
	    margin-left: 10px;
	}
	.leasing-block .service-mark p{
		font-size: 16px;
		line-height: 22px;
	}

	/*--------Страховые продукты------------*/

	.insurance-container .service-marks .service-mark:not(:first-child){
		margin-top: 0px;
	}
	.leasing-item-right{
		font-size: 18px;
	}
	.liability-service-marks .service-mark div{
		vertical-align: top;
	}
	/*--------Банковские продукты------------*/

	.bank-guarantees-columns{
	    padding-top: 65px;
	    padding-bottom: 70px;
	}
		.bank-guarantees-column{
		    width: calc(100%/3 - 13px);
		}
			.bank-guarantees-column:not(:last-child){
				margin-right: 15px;
			}
				.bank-guarantees-column-top{
					font-size: 16px;
				    padding: 18px 10px 5px;
				}
				.bank-guarantees-column-bottom{
				    padding: 25px 15px 32px 15px;
			}
	#bank-guarantees-page .review-list{
		margin-top: 21px;
	}
	.b-wiki-item h3 {
		font-size: 26px;
		line-height: 30px;
	}
}
@media screen and (max-width: 960px){
	.b-btn-center{
		display: inline-block;
		float: right;
	}
	.burger-menu{
		display: inline-block;
	}
	.b-top-content .contact-info{
		display: none;
	}
	ul.b-menu-items{
	    display: none;
	}
	.b-partners,.b-calc,.b-about,.b-services,.b-special{
	    padding-top: 45px;
	    padding-bottom: 60px;
	}
	.b-index .b-block{
		max-width: 100%;
	}
	.left-block{
		width: 100%;
		float: none;
		padding-top: 0;
   		padding: 0 24px;
		margin-bottom: 40px;
	}
	.right-block{
		margin-bottom: 0;
	    width: 100%;
	}
		.right-block .input-string:nth-child(1){
			display: inline-block;
		    margin-right: 16px;
		    width: calc(50% - 10px);
		}
		.right-block .input-string:nth-child(1) input, .right-block .input-string:nth-child(2) input{
			margin-bottom: 0px;
		}
		.right-block .input-string:nth-child(2){
			display: inline-block;
		    width: calc(50% - 10px);
		}
		.right-block form input{
			margin-bottom: 14px;
		}
		.right-block .text-center-block{
		    display: inline-block;
		}
	.b-menu-down li{
	    width: calc(100%/3 - 3px);
	}
	.b-services .choice-block div, .b-services-menu .choice-block div{
		width: calc(100%/2 - 25px);
	}
	.b-services .choice-block div:not(:nth-child(3n)), .b-services-menu .choice-block div:not(:nth-child(3n)){
		margin-right: 0;
	}
	.b-services .choice-block div:nth-child(n+4), .b-services-menu .choice-block div:nth-child(n+4){
		margin-top: 0;
	}
	.b-services .choice-block div:nth-child(2n), .b-services-menu .choice-block div:nth-child(2n){
		margin-left: 37px;
		margin-top: 43px;
	}
	.b-services-menu .choice-block div:nth-child(2n){
		margin-top: 0;
	}
	.b-services-menu .choice-block div:nth-child(n+3){
		margin-top: 43px;
	}
	.choice-about{
		text-align: left;
		padding-bottom: 20px;
   		padding-top: 10px;
	}
		.b-services-menu .choice-block.choice-about div{
			width: unset;
			height: unset;
			margin-left: 0;
		}
		.b-services-menu .choice-block.choice-about div:nth-child(n+2){
			margin-left: 37px;
		}
	
	.b-choice-item .item-service{
		width: 100%;
	}

		.b-choice-item .item-service:not(:last-child){
			margin-bottom: 20px;
		}
		.b-choice-item .item-service:not(:first-child){
			margin-left: 0;
		}
	.b-calc .period-items{
		font-size: 14px;
	}
		.b-calc .period-items a:not(:last-child){
		    margin-right: 8px;
		}
	.b-partners .b-banks{
		margin-bottom:60px;
	}
	.b-partners .b-top-bank .bank-img{
		display: none;
	}
	.b-bank-info{
		width: 100%;
	}
	.b-info-partners h2.b-title{
	    width: 100%;
	}
/*------Сопровождение конкурсных процедур-------*/

.help-form-block .input-string{
	width: 100%;
	max-width: 70%;
}
	.help-form-block .input-string:not(:first-child){
		margin-left: 0;
		margin-top: 15px;
	}
/*------Мониторинг, обработка и анализ информации о закупках-------*/
.monitoring-scheme-item{
     width: calc(100%/2 - 10px);
}
	.monitoring-scheme-item:not(:nth-child(3n)){
		margin-right: 0px;
	}
	.monitoring-scheme-item:nth-child(n+4){
	    margin-top: 0px;
	}
	.monitoring-scheme-item:nth-child(n+3){
	    margin-top: 20px;
	}
	.monitoring-scheme-item:nth-child(2n){
		margin-left: 15px;
	}
	#analysis-block .monitoring-scheme-item:nth-child(n+3){
		margin-top: 0;
	}
/*------Аутсорсинг тендерного отдела-------*/
	.outsourcing-left{
		display: block;
		width: 100%;
	}
	.outsourcing-right{
		display: block;
		width: 100%;
		margin-left: unset;
	}
		.outsourcing-right .monitoring-scheme-item{
			max-width: 540px;
			margin: unset;
		}
	.outsourcing-scheme-block{
		padding-top: 30px;
	}
	.b-head-scheme{
		margin-top: 20px;
	}
	.b-head-scheme .b-escort-scheme-list {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 30px;
	}

	.b-head-scheme-block .left-line,
	.b-head-scheme-block .right-line{
		display: none;
	}

	.b-head-scheme-header{
		position: static;
	}

	.b-head-scheme-block{
		height: auto;
		margin-bottom: 30px;
		text-align: left;
	}

	.b-escort-scheme-list:last-child{
		margin-bottom: 10px;
	}
/*--------Работа с ЭДО и ЭТП------------*/

	.etp-left{
		width: 100%;
		display: block;
	}
	.etp-right{
		width: 100%;
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
	.etp-scheme-item{
		max-width: 700px;
	}
	.etp-right p{
		max-width: 700px;
	}
	.etp-container .service-marks .service-mark{
		vertical-align: middle;
	}
	.important-info div:nth-child(2) p{
		font-size: 14px;
	}
/*--------Лизинг------------*/
	.leasing-item{
		width: calc(100%/3 - 27px);
	}
	.leasing-item:not(:nth-child(4n)){
		margin-right: 0;
	}
	.leasing-item:not(:nth-child(3n)){
		margin-right: 20px;
	}

/*--------Страховые продукты------------*/
	.insurance-advantages .leasing-item{
	    width: 100%;
	    max-width: 600px;
	}
	.insurance-block .b-head-scheme-header{
		left: 0;
		-webkit-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}
	.insurance-block .b-head-scheme .b-head-scheme-block{
		height: unset;
	}
	.insurance-block .b-head-scheme .b-escort-scheme-header{
		max-width: 640px;
	}
	.insurance-block .b-head-scheme .b-escort-scheme-list{
		width: 100%;
	}
	.insurance-block .b-head-scheme .b-escort-scheme-list:last-child{
		margin-left: unset;
	}
	.insurance-block .b-head-scheme-header .item-text{
		text-align: center;
	}
	#insurance-page .b-text span{
		line-height: 24px;
	}
/*--------Банковские продукты------------*/

	.bank-guarantees-column{
		width: 100%;
	}
	.bank-guarantees-column:not(:last-child){
		margin-right: 0;
		margin-bottom: 30px;
	}
/*------------МСП------------*/

	#msp-page .leasing-items .leasing-item{
		width: 100%;
		margin: 0;
	}
	#msp-page .leasing-items .leasing-item:not(:last-child){
		margin-bottom: 30px;
	}
		.msp-advantages .leasing-item-container{
			float: left;
		}
		.msp-advantages .leasing-item p{
			padding-top: 0;
			width: calc(100% - 80px);
			display: inline-block;
		}
	.msp-partners-list img{
		max-width: 160px;
	}
/*------------Блог------------*/
	.blog-page .b-block{
		width: 860px;
	}
		.blog-block-left{
			width: 100%;
		}
			.b-tile-block{

			}
				.b-tile-item{
					margin-right: 0;
				}
				.b-tile-item:not(:first-child){
					margin-left: 16px;
				}
				.b-tile-item.bcg-img{
					width: calc(50% - 104px);
				}
					.b-tile-item.bcg-img:not(:first-child){
						margin-left: 17px;
					}
				.b-tile-item.middle-img{
					width: calc(100%/2 - 11px);
				}
				.b-tile-item.big-img{
				    width: calc(50% + 87px);
				}
		.blog-block-right{
			width: 100%;
		}
			.b-blog-right-item .b-blog-logo img{
				max-width: 250px;
			}
			.b-blog-right-item .help-form-block .input-string{
				max-width: 100%;
			}
		.blog-article{
			margin-right: 0;
		}
			.blog-comment-block{
				margin-right: 0;
			}
			.blog-help-form{
				margin-right: 0;
				margin-bottom: 50px;
			}
			.b-blog-right-item form{
					max-width: 300px;
					margin:0 auto;
				}
/*------------Проекты------------*/				
	.b-three-blocks-item{
		padding: 16px 13px 0;
		width: calc(100%/3 - 9px);
	}
	.b-three-blocks-item:not(:last-child){
		margin-right: 10px;	
	}
/*------------СРО------------*/
	.b-sro-type-item{
		display: block;
		width: 100%;
	}
	.b-sro-item{
		width: 100%;
		max-width: 600px;
	}
	.license-container .important-info div:nth-child(2) p{
		font-size: 16px;
	}
}
@media screen and (max-width: 844px){
	.b-index h2.b-title{
	    font-size: 36px;
    	line-height: 42px;
	}
	h1.b-title, h2.b-title{
	    font-size: 36px;
    	line-height: 42px;
	}
	.service-item-sections, .service-item-sections.strait{
	    max-width: 500px;
	}
	.guarantee-info h2.b-title,.service-item .b-block h2{
		line-height: 42px;
	    max-width: 590px;
	}
	.guarantee-info h3{
		font-size: 20px;
		line-height: 24px;
	}
	.guarantee-info a{
		padding-left: 33px;
	}
	.whatsapp{
		width: 22px;
	}
	.telegram-small-icon{
		width: 23px;
	}
	.b-special-item{
		width: 100%;
		margin-bottom: 35px;
	}
	.blue-block{
	    text-align: center;
	}
	.b-special h4.item-title{
	    text-align: center;
	}
	.b-special .form-center p{
	    width: 100%;
	}
	.b-special .b-btn-more{
	    margin-top: 35px;
	}
	.b-calc-item{
		width: calc(100%/2 - 19px);   
	}
		.b-calc h2{
		    padding-bottom: 30px;
		}
		.b-calc-item:not(:nth-child(3n)){
			margin-right: 0;
		}
		.b-calc-item:nth-child(2n){
			margin-left: 34px;
		}
	.b-about .text-center-block p{
		width: 100%;
	}
	.b-about-blocks-item{
	    min-height: 0;
	    float: none;
	    width: 100%; 
	}
	.b-about-blocks-item:not(:last-child){
	    margin-right: 0; 
	    margin-bottom: 15px;
	}
	.b-footer-column{
		width: 49%;
	}
	.b-footer-column:nth-child(2),.b-footer-column:nth-child(3){
		display: none;
	}

	/*Услуги*/

	.service-item h3{
		font-size: 18px;
	    line-height: 24px;
	    padding-right: 0;
	}
	.service-item-section a{
		font-size: 18px;
	    line-height: 24px;
	}
	.service-bottom-text{
		font-size: 18px;
	}
	.b-base-item{
		width: calc(50% - 10px);
	}
	.b-base-item:not(:last-child){
		margin-right: 0;
	}
	.b-base-item:nth-child(2n){
		margin-left: 20px;
	}
	.b-base-item:nth-child(n+3){
		margin-top: 20px;
	}

	/*О компании*/
	.choice-about a{
			position: relative;
		}
		.choice-about div{
			width: unset;
			height: unset;
		}
		.choice-about{
			text-align: left;
			padding-bottom: 20px;
	   		padding-top: 10px;
		}
	.b-team-photo {
	    height: 415px;
	}
	/*------Сопровождение конкурсных процедур-------*/
	.maintenance-container h1.b-title{
		line-height: 42px;
		font-size: 36px;
		padding-top: 0;
	}
	.maintenance-reasons h3.b-title{
		line-height: 36px;
	}
	/*------Мониторинг, обработка и анализ информации о закупках-------*/
	#analysis-block .monitoring-scheme-item{
		width: 100%;
		max-width: 500px;
		margin:0;
	}
		#analysis-block .monitoring-scheme-item:not(:first-child){
			margin-top: 20px;
		}

	/*------Аутсорсинг тендерного отдела-------*/
	.outsourcing-container h3.b-title{
		font-size: 24px;
		line-height: 28px;
	}
	.outsourcing-container h4{
		font-size: 20px;
	}
	.outsourcing-left li{
		font-size: 16px;
		line-height: 20px;
	}
	.outsourcing-scheme-block p{
		width: 100%;
	}
	/*--------Работа с ЭДО и ЭТП------------*/

	.etp-work .service-item-sections{
		max-width: unset;
	}
	.etp-work  .service-item-section:nth-child(2n){
		margin-left: 15px;
	}

	/*--------Лизинг------------*/
	.leasing-item{
		width: calc(100%/2 - 27px);
	}
	.leasing-item:not(:nth-child(3n)){
		margin-right: 0;
	}
	.leasing-item:nth-child(n+3){
		margin-top: 60px;
	}
	.leasing-item:nth-child(2n){
		margin-left: 30px;
	}
	.leasing-block .service-marks .service-mark{
		width: 100%;
		max-width: 500px;
	}
	.leasing-block .service-marks .service-mark:not(:first-child){
		margin-left: unset;
		margin-top: 20px;
	}
	.leasing-block .service-marks .service-mark div{
		display: inline-block;
	}
	.leasing-block .leasing-item{
		width: 100%;
	}
	.leasing-block .leasing-item:nth-child(2n){
		margin-left: unset;
	}
	.leasing-block .leasing-item:not(:first-child){
		margin-top: 20px;
	}
	/*--------Страховые продукты------------*/
		.insurance-advantages .leasing-item:nth-child(2n){
			margin-left: 0;
		}
		.insurance-advantages .leasing-item:nth-child(n+3){
			margin-top: 20px;
		}
	/*--------Банковские продукты------------*/
	.bank-guarantees-block .leasing-item{
		width: 100%;
	}
	.bank-guarantees-block .leasing-item-container{
		float: left;
	}
	.bank-guarantees-block .leasing-item p{
		padding-top: 0;
	    display: inline-block;
	    width: calc(100% - 80px);
	}
	.bank-guarantees-block .leasing-item:not(:last-child){
		margin-bottom: 30px;
		margin-right: 0;
		margin-left: 0;
	}
	.bank-guarantees-block  .leasing-item:nth-child(n+3){
		margin-top: 0;
	}
	/*------------База данных------------*/
	.wiki-container{
		padding-top: 50px;
	}
		.wiki-container h1.b-title{
			font-size: 40px;
			line-height: 46px;
		}
		.choice-block.four-block{
			padding-top: 0;
		}
			.choice-block.four-block div{
				width: calc(100%/2 - 24px);
			}
				.choice-block.four-block div:nth-child(2n){
					margin-right: 0;
				}
			.b-wiki-item:nth-child(n){
				width: 100%;
				margin-right: 0;
				min-height: unset;
			}
			.b-wiki-list-bottom .b-wiki-item.big-wiki-item{
				margin-left: 0;
			}
				.b-wiki-item h4{
					font-size: 18px;
				}
/*------------База данных (страница шаблонов)------------*/
	.b-template-item{
		min-height: unset;
		width: 100%;
	}
/*------------База данных (страница статьи)------------*/
	
	.b-article-top-info-item p{
		display: block;
	}
/*------------Проекты------------*/	

.b-three-blocks-item{
	width: 100%;
}
	.b-three-blocks-item:not(:last-child){
		margin-bottom: 20px;
	}
.projects-items .leasing-item{
	width: 100%;
}
	.projects-items .leasing-item:not(:nth-child(4n)){
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
	}
	.projects-items .leasing-item:not(:last-child){
		margin-bottom: 20px;
	}
.b-projects-mark-item{
	width: 100%;
}
	.b-projects-mark-item:not(:last-child){
		margin-bottom: 20px;
	}





}